{deps, [
{mysql,".*",{git,"https://github.com/mysql-otp/mysql-otp","1.2.0"}},{ecpool,".*",{git,"https://github.com/emqtt/ecpool","master"}},{jose,".*",{git,"https://github.com/potatosalad/erlang-jose.git","master"}},{jsx,".*",{git,"https://github.com/talentdeficit/jsx.git","master"}}
]}.
{erl_opts, [{parse_transform,lager_transform}]}.
